body {
  background-color: cadetblue;
}

h1 {
  font-size: 200px;
  text-align: center;
  color: #777;
}

h2 {
  font-size: 50px;
  color: red;
  text-align: center;
}
p {
  text-align: center;
  font-size: 30px;
  color: #102f;
}

.container-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  height: 25px;
  width: 500px;
  background: goldenrod;
  color: rgb(49, 73, 14);
  border-style: none;
  text-decoration: none;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  font-size: 25px;
  background-color: darkblue;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  border-style: none;
}

button:hover {
  color: rgb(187, 26, 26);
}

.container-pass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password {
  margin-top: 5px;
  height: 25px;
  width: 400px;
  border-style: none;
  background-color: #777;
  color: red;
}
